<!-- Include Header -->
{% include "header.html" %}

<!-- New -->
<div class="container">
    <h2 class="text-center" style="width: 100%; border-bottom:0px solid #000000; margin-top: 80px;"><b>My Features</b>
    </h2>

    <div class="row">
        <!-- My Features -->
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="static/asset/PredictImage.png" style="width: 300px; height: 250px;">
                <div class="caption">
                    <h3>Predict Image</h3>
                    <h5>tensorflow</h5>
                    <p><a href="/predict" class="btn btn-success" role="button"><i
                                class="glyphicon glyphicon-heart"></i> Trying this Feature </a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="static/asset/ExtractText.png" style="width: 300px; height: 250px;">
                <div class="caption">
                    <h3>Extract Text</h3>
                    <h5>pytesseract</h5>
                    <p><a href="/extract" class="btn btn-success" role="button"><i
                                class="glyphicon glyphicon-heart"></i> Trying this Feature</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="static/asset/VideoDetect.png" style="width: 300px; height: 250px;">
                <div class="caption">
                    <h3>Video Detect</h3>
                    <h5>opencv2</h5>
                    <p><a href="/detect" class="btn btn-success" role="button"><i class="glyphicon glyphicon-heart"></i>
                            Trying this Feature</a></p>
                </div>
            </div>
        </div>
        <!-- My Feature End -->
    </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- Include Footer -->
{% include "footer.html" %}