<footer style="border-top: 4px solid #000;  ">
    <div class="container" style="padding-bottom: 50px;">
        <div class="row">
            <div class="col-md-4">
                <h3 style="color: #80b3ff"><b>PyFy Tech</b></h3>
                <p><i class="glyphicon glyphicon-earphone"></i> +6282119319812</p>
                <p><i class="glyphicon glyphicon-envelope"></i> athalie.aurora.tif22@polban.ac.id</p>
            </div>
            <!-- <div class="col-md-4">
                <h5><b>Menu</b></h5>
                <p><a href="" style="color: #000">Tentang kami</a></p>
                <p><a href="" style="color: #000">Hubungi Kami</a></p>
            </div> -->
            <div class="col-md-4">

            </div>
        </div>

    </div>

    <div class="copy" style="background-color: #80b3ff; padding: 5px; color: #fff; text-align: center;">
        <span>Copyright &copy; Athalie Aurora</span>
    </div>
</footer>

</body>

</html>