<!-- Include Header -->
{% include "header.html" %}

<!-- IMAGE -->
<div class="container-fluid" style="margin: 0;padding: 0;">
    <div class="image" style="margin-top: -21px">
        <a href="#"><img src="static/asset/PyFy_small.png" style="width: 100%; height: 650px;"></a>
    </div>
</div>
<br>

<!-- New -->
<div class="container">
    <h4 class="text-center"
        style="font-family: arial; padding-top: 10px; padding-bottom: 10px; font-style: italic; line-height: 29px; border-top: 2px solid #1f253a; border-bottom: 2px solid #1f253a;">
        <!-- Pyfy adalah platform modern yang memanfaatkan kecerdasan buatan dan teknologi pengolahan citra untuk memberikan
        pengalaman multimedia yang kaya dan inovatif. -->
        Pyfy Tech sadalah platform modern yang mengubah cara mu berinteraksi dengan media. Dengan memanfaatkan teknologi
        kecerdasan buatan dan pengolahan citra, Pyfy Tech memberikan pengalaman yang kaya dan inovatif ~
    </h4>

    <h2 class="text-center" style="width: 100%; border-bottom:0px solid #000000; margin-top: 80px;"><b>My Features</b>
    </h2>

    <div class="row">
        <!-- My Features -->
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="static/asset/PredictImage.png" style="width: 300px; height: 250px;">
                <div class="caption">
                    <h3>Predict Image</h3>
                    <h5>tensorflow</h5>
                    <p><a href="/predict" class="btn btn-success" role="button"><i
                                class="glyphicon glyphicon-heart"></i> Trying this Feature </a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="static/asset/ExtractText.png" style="width: 300px; height: 250px;">
                <div class="caption">
                    <h3>Extract Text</h3>
                    <h5>pytesseract</h5>
                    <p><a href="/extract" class="btn btn-success" role="button"><i
                                class="glyphicon glyphicon-heart"></i> Trying this Feature</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="static/asset/VideoDetect.png" style="width: 300px; height: 250px;">
                <div class="caption">
                    <h3>Video Detect</h3>
                    <h5>opencv2</h5>
                    <p><a href="/detect" class="btn btn-success" role="button"><i class="glyphicon glyphicon-heart"></i>
                            Trying this Feature</a></p>
                </div>
            </div>
        </div>
        <!-- My Feature End -->
    </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- Include Footer -->
{% include "footer.html" %}